<div style="margin-bottom: 16px;">
  <button nz-button [nzType]="'primary'" (click)="addGoodsModal()">
    新增商品
  </button>
</div>
<nz-table [nzData]="goodsList" [(nzPageIndex)]="pageIndex" [nzFrontPagination]="false" [nzBordered]="true" [nzPageSize]="pageSize"
          [nzTotal]="totalElements" (nzPageIndexChange)="pageIndexChange()">
  <thead>
  <tr>
    <th>商品名称</th>
    <th>单价（元）</th>
    <th>批次</th>
    <th>状态</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let goods of goodsList">
    <td>
      {{goods.goodsDescription.description}}
    </td>
    <td>
      {{goods.goodsDescription.price * 0.01}}
    </td>
    <td>
      {{goods.batchNo}}
    </td>
    <td [ngSwitch]="goods.status">
      <span *ngSwitchCase="3000">未入库</span>
      <span *ngSwitchCase="3001">入库</span>
      <span *ngSwitchCase="3002">售出</span>
      <span *ngSwitchCase="3003">出库</span>
      <span *ngSwitchDefault>未知</span>
    </td>
  </tr>
  </tbody>
</nz-table>
