
.login-form {
  width: 350px;
  left: 60%;
  height: 250px;
  top: 250px;
  background: white;
  position: relative;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 90%;
  margin-left: 5%;
}

.login-form-input{
  margin-top: 50px;
  width: 90%;
  margin-left: 5%;
}

.login-background {
  height: 100%;
  background: cornflowerblue;
}
