<div style="margin-bottom: 16px;">
  <button nz-button [nzType]="'primary'" (click)="addGoodsDescModal()">
    添加
  </button>
</div>
<nz-table [nzData]="goodsDescList" [nzBordered]="true">
  <thead>
  <tr>
    <th>商品</th>
    <th>商户</th>
    <th>价格（元）</th>
    <th>图片</th>
    <th>条码</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let goodsDesc of goodsDescList">
    <td>
      {{goodsDesc.description}}
    </td>
    <td><span *ngIf="goodsDesc.merchant">{{goodsDesc.merchant.name}}</span></td>
    <td>{{goodsDesc.price * 0.01|number:'1.1-1'}}</td>
    <td>
      <a (click)="showFullImg(goodsDesc)">查看图片</a>
    </td>
    <td>
      {{goodsDesc.barcode}}
    </td>
    <td>
      <a (click)="editGoodsDesc(goodsDesc)">编辑</a>
      <nz-divider [nzType]="'vertical'"></nz-divider>
      <a (click)="deleteGoodsDesc(goodsDesc.id)">删除</a>
    </td>
  </tr>
  </tbody>
</nz-table>
