<div style="margin-bottom: 16px;">
  <button nz-button [nzType]="'primary'" (click)="addGoodsDescModal()">
    新增商品类型
  </button>
</div>
<nz-table [nzData]="goodsDescList" [nzBordered]="true">
  <thead>
  <tr>
    <th>商品描述</th>
    <th>价格（元）</th>
    <th>图片</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let goodsDesc of goodsDescList">
    <td>
      {{goodsDesc.description}}
    </td>
    <td>{{goodsDesc.price * 0.01}}</td>
    <td>
      <a (click)="showFullImg(goodsDesc)">查看图片</a>
    </td>
  </tr>
  </tbody>
</nz-table>
