<div style="margin-bottom: 16px;">
  <button nz-button [nzType]="'primary'" (click)="addMachineModal()">
    新增售货机
  </button>
</div>
<nz-table [nzData]="machineList">
  <thead>
    <tr>
      <th>序号</th>
      <th>地点</th>
      <th>状态</th>
      <th>负责人</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let machine of machineList">
      <td>
        {{machine.serial}}
      </td>
      <td>
        {{machine.location}}
      </td>
      <td>
        {{parseStatus(machine)}}
      </td>
      <td>
        {{machine.master.name}}
      </td>
      <td>
        <a></a>
      </td>
    </tr>
  </tbody>
</nz-table>
